trigger:
- master
- main

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true

      jobs:
      - job: Windows
        enableRichCodeNavigation: true
        richCodeNavigationEnvironment: 'production'
        pool:
          name: NetCore-Svc-Public
          demands: ImageOverride -equals Build.Windows.Amd64.VS2022.Pre.Open

        steps:
        - checkout: self
          clean: true

        - script: eng\cibuild.cmd
            -restore
            -build
            -configuration Debug
          displayName: Build