trigger:
- master
- main

pr: none

variables:
- template: /eng/common/templates/variables/pool-providers.yml

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true

      jobs:
      - job: Windows
        enableRichCodeNavigation: true
        pool:
          name: $(DncEngPublicBuildPool)
          demands: ImageOverride -equals windows.vs2022preview.amd64.open

        steps:
        - checkout: self
          clean: true

        - script: eng\cibuild.cmd
            -restore
            -build
            -configuration Debug
          displayName: Build
