# This is a simple wrapper for eng/ci.yml to get around the limitation of
# user-defined variables not being available in yaml template expressions.

# Parameters ARE available in template expressions, and parameters can have default values,
# so they can be used to control yaml flow.

variables:
  _PublishUsingPipelines: true
  _DotNetArtifactsCategory: WINDOWSDESKTOP
  # clean the local repo on the build agents
  Build.Repository.Clean: true
  
# trigger ci builds for completed checkins into master and any release branches
trigger:
- master
- release/*

# trigger ci builds on pull requests into master and any release branches
pr:
- master
- release/*

# Call the ci.yml template, which does the real work
stages:
- template: /eng/ci.yml
  parameters:
    ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
      # these parameters should be set for running in the Internal / Non-Public
      agentPoolName: NetCoreInternal-Pool
      agentPool: BuildPool.Windows.10.Amd64.VS2019
      runAsPublic: false