-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail wffteam@microsoft.com
-TsaCodebaseAdmin REDMOND\advolker
-TsaBugAreaPath "DevDiv\NET Fundamentals\Winforms\Runtime\Core"
-TsaIterationPath DevDiv
-TsaRepositoryName Winforms
-TsaCodebaseName Winforms
-TsaOnboard $True
-TsaPublish $True
